<html>
<head>
    <link rel="stylesheet" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
</style>
</head>
<body>
    <div class="header">
        <button onclick="document.location='/'">HOME</button>
        <button onclick="document.location='/addauthor'">Add an author</button>
        <button onclick="document.location='/getallbooks'">Books list</button>
        <button onclick="document.location='/getallauthors'">Authors list</button>
        <button onclick="document.location='/updateauthor'">Update author's numBooks</button>
        <button onclick="document.location='/deletebook'">Delete a book</button>
    </div>
<form action="/addnewbook" method="POST">
  <div class="container">
    <h1>Add New book</h1>
    <p>Please fill in this form to add a new book.</p>
    <hr>

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Enter Title" name="title" id="title">

    <label for="authorID"><b>Author ID</b></label>
    <input type="text" placeholder="Enter Author ID" name="authorID" id="authorID">

    <label for="isbn"><b>ISBN</b></label>
    <input type="text" placeholder="Enter Book ISBN" name="isbn" id="isbn">

    <label for="publicDate"><b>Date of Publication</b></label>
    <input type="date" placeholder="dd/mm/yyyy" name="publicDate" id="publicDate">

    <label for="summary"><b>Summary</b></label>
    <input type="text" placeholder="Enter Summary" name="summary" id="summary">
    <hr>

    <button type="submit" class="addbtn">Add book</button>
  </div>
  
</form>

</body>
</html>