<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <button onclick="document.location='/'">HOME</button>
        <button onclick="document.location='/addbook'">Add a book</button>
        <button onclick="document.location='/addauthor'">Add an author</button>
        <button onclick="document.location='/getallbooks'">Books list</button>
        <button onclick="document.location='/updateauthor'">Update author's numBooks</button>
        <button onclick="document.location='/deletebook'">Delete a book</button>
    </div>

    <h3>List of authors:
        <table id="custom-table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>State</th>
                <th>Suburb</th>
                <th>Street</th>
                <th>Unit</th>
                <th>Number of books</th>
            </tr>
            <% for ( let i = 0; i< authorsDb.length;i++){ %>
                <tr>
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= authorsDb[i].name.firstName + " " + authorsDb[i].name.lastName %>
                    </td>
                    <td>
                        <%= authorsDb[i].dob %>
                    </td>
                    <td>
                        <%= authorsDb[i].address.state %>
                    </td>
                    <td>
                        <%= authorsDb[i].address.suburb %>
                    </td>
                    <td>
                        <%= authorsDb[i].address.street %>
                    </td>
                    <td>
                        <%= authorsDb[i].address.unit %>
                    </td>
                    <td>
                        <%= authorsDb[i].numBooks %>
                    </td>
                </tr>
                <% }%>
     </table>
    </h3>
</body>
</html>