<html>
<head>
    <link rel="stylesheet" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
</style>
</head>
<body>
    <div class="header">
        <button onclick="document.location='/'">HOME</button>
        <button onclick="document.location='/addbook'">Add a book</button>
        <button onclick="document.location='/addauthor'">Add an author</button>
        <button onclick="document.location='/getallbooks'">Books list</button>
        <button onclick="document.location='/getallauthors'">Authors list</button>
        <button onclick="document.location='/updateauthor'">Update author's numBooks</button>
    </div>
<form action="/deletebookdata" method="POST">
  <div class="container">
    <h1>Delete a Book</h1>
    <p>Please fill in this form to delete a book.</p>
    <hr>

    <label for="isbn"><b>Book ISBN</b></label>
    <input type="text" placeholder="Enter ISBN of book to delete" name="isbn" id="isbn">
    <hr>

    <button type="submit" class="addbtn">Submit</button>
  </div>
  
</form>

</body>
</html>