<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <img src="welcome.png" height="200px">
    </div>
    <button onclick="document.location='/addbook'">Add a book</button>
    <button onclick="document.location='/addauthor'">Add an author</button>
    <button onclick="document.location='/getallbooks'">Books list</button>
    <button onclick="document.location='/getallauthors'">Authors list</button>
    <button onclick="document.location='/updateauthor'">Update author's numBooks</button>
    <button onclick="document.location='/deletebook'">Delete a book</button>
</body>
</html>